*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/gradle.properties
/app/google-services-old.json
.DS_Store
/build
/captures
.externalNativeBuild
/app/build/generated/source/buildConfig/debug/com/error/grrravity/go4lunch
gradle.properties